button {
  width: 100%;
  background: #28C2FF;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #eee;
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  user-select: none;
  letter-spacing: 1px;
  height: 42px;
  margin-top: 8px;
}


.button__delete {
  border: 1px solid #D64933;
  background: #D6493311;
  color: #D64933;
  font-weight: 500;
}

button:active {
  opacity: 0.7;
}
